.main--left {
	z-index: 2;
	position: relative;
	background: $brand-color;
	text-align: center;

	@include media(">=large") {
		position: fixed;
		top: 0;
		left: 0;
		right: 60%;
		bottom: 0;
		text-align: right;
	}

	.smiley-wrapper {
		overflow: hidden;
		position: relative;
		display: inline-block;
		vertical-align: top;
		padding: 15px;
		margin-bottom: 20px;
		border-radius: 0 50% 50% 0; 

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(180deg, rgba(255,255,255,0.4), rgba(255,255,255,0.2));
			z-index: -1;
		}

		@include media(">=large") {
			margin-bottom: 40px;
			border-radius: 0 50% 50% 0; 
		}
	}

	.smiley {
		border-radius: 0 50% 50% 0; 
		max-width: 183px;

		@include media(">=large") {
			max-width: 290px;
		}
	}

	.flex {
		padding: 40px 14px;

		@include media(">=large") {
			padding: 60px;
		}
	}

	.title {
		color: #fff;
		font-size: 40px;
		font-weight: normal;
		font-family: "LatoLatinWebHeavy", sans-serif;
		line-height: 40px;
		margin-bottom: 0;

		@include media(">=medium") {
			font-size: 50px;
			line-height: 50px;
		}

		@include media(">=large") {
			font-size: 60px;
			line-height: 60px;
		}
	}

	.subtitle {
		color: #fff;
		font-size: 18px;
		font-weight: normal;
		line-height: 30px;

		@include media(">=large") {
			font-size: 22px;
			line-height: 34px;
		}
	}

	.pages {
		font-size: 16px;
		line-height: 24px;

		@include media(">=large") {
			font-size: 20px;
			line-height: 30px;
		}

		a {
			position: relative;
			color: #fff;

			@media not print {
				&::after {
					content: '';
					position: absolute;
					bottom: -3px;
					right: 0;
					width: 100%;
					height: 2px;
					background: #fff;
					opacity: .6;
					transition: width 80ms ease-in-out;
				}

				&:focus,
				&:hover {
					text-decoration: none;
	
					&::after {
						width: 0;
					}
				}
			}
		}

		a + a {
			margin-left: 20px;
		}
	}
}

.main--right {
	z-index: 1;
	color: #2d2d2d;
	padding: 40px 14px;
	position: relative;
	font-size: 16px;
	line-height: 24px;

	@include media(">=large") {
		left: 40%;
		width: 60%;
		padding: 60px;
		font-size: 18px;
		line-height: 26px;
	}

	h2 {
		page-break-after: avoid;
		font-size: 28px;
		font-weight: normal;
		font-family: "LatoLatinWebHeavy", sans-serif;
		line-height: 28px;
		margin: 30px 0 20px;

		@include media(">=medium") {
			font-size: 34px;
			line-height: 34px;
			margin: 36px 0 26px;
		}

		.bit {
			color: #868686;
			font-family: 'LatoLatinWeb', sans-serif;

			sup {
				font-size: 15px;
				font-family: "LatoLatinWebHeavy", sans-serif;

				@include media(">=medium") {
					font-size: 19px;
				}
			}
		}
	}

	dl {

		@extend %clearfix;

		dt, dd {
			@include media(">=small") {
				float: left;
				margin-top: 10px !important;

				&:first-of-type {
					margin-top: 0 !important;
				}
			}
		}

		dt {
			margin-top: 10px;
			font-weight: bold;

			@include media(">=small") {
				clear: both;
				margin-right: 20px;
			}
		}
	}

	ul {
		list-style: none;
		margin-left: 16px;

		li {
			margin-top: 8px;
			padding-left: 16px;
			background: url(/img/ul-bullet.gif) no-repeat left 10px;

			@include media(">=medium") {
				background-position: left 11px;
			}

			&:first-child {
				margin-top: 0;
			}
		}
	}

	p + ul.connected {
		margin-top: -6px;
	}

	span.http {
		color: $brand-color;
	}

	span.love {
		color: firebrick;
		font-size: 15px;
	}

	.main__content {
		> *:first-child { margin-top: 0; }
		> *:last-child { margin-bottom: 0; }
	}
}

.work__list {
	counter-set: work-item -1;

	.item {
		margin-top: 30px;
		counter-increment: work-item;

		&:first-child {
			margin-top: 0;
		}

		.what {
			font-weight: bold;
			
			// &::before {
			// 	content: counter(work-item) ". ";
			// 	color: $brand-color;
			// }
		}

		.when {
			color: #767676;
			margin-bottom: 5px;
		}

		.responsibilities {
			margin-top: 10px;

			ul,li {
				margin-top: 0;
			}
		}

		.stack {
			margin: 11px 0;
			
			.tag {
				font-size: 0.9em;
			}
		}
	}
}

hr {
	border: 0;
	height: 4px;
	background: url(/img/hr-background.png) repeat-x 0 0;
	margin: 30px 0 0;

	@include media(">=medium") {
		margin: 36px 0 0;
	}
}

.copy {
	color: #767676;
	font-size: 15px;
	text-align: right;
}

.text-blue {
	color: $brand-color;
}

.text-light {
	color: $text-color-light;
}

.text-smaller {
	font-size: 0.8em;
}

.text-larger {
	font-size: 1.2em;
}

.tag {
	display: inline-block;
	padding: 0 8px;
	border-radius: 5px;
	background: #d8def1;
}