@media not print {

    .print-only {
        display: none;
    }
}

@media print {

    .screen-only {
        display: none;
    }

    .pg-break {
        page-break-after: always;
        visibility: hidden;
    }

    a.--url {

        &::after {
            color: mix($text-color, white, 60);
            content: ' (' attr(href) ')';
            display: inline-block;
            text-decoration: none;
            margin-left: 10px;
        }
    }

    html {

        a {
            color: $text-hover;
            text-decoration: underline;
        }

        .main--left {
            background: none;
            position: static;
            text-align: left;

            .t .td {
                padding-bottom: 0;
            }

            .title{
                color: $text-color;
            }

            .subtitle {
                font-family: $base-font-family;
                color: $text-color;
                opacity: 1;
            }

            .pages {
                color: $text-color;

                a {
                    float: left;
                    clear: left;
                    margin-left: 0;
                    color: $text-hover;
                    font-family: $base-font-family;
                    text-decoration: underline;
                }
            }
        }

        .main--right {
            position: static;
            width: auto;
        }
    }
}
